<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method">
        <thead>
        <tr class="row">
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-price" translate="'Price'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
        </tr>
        </thead>
        <tbody>
        <!-- ko foreach: { data: rates(), as: 'method'} -->
        <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
    <input name="bliskapaczka[sendit_bliskapaczka_sendit_bliskapaczka_posCode]" type="hidden" id="s_method_sendit_bliskapaczka_sendit_bliskapaczka_posCode" value="WRO206">
    <input name="bliskapaczka[sendit_bliskapaczka_sendit_bliskapaczka_posOperator]" type="hidden" id="s_method_sendit_bliskapaczka_sendit_bliskapaczka_posOperator" value="INPOST">
    <input name="bliskapaczka[sendit_bliskapaczka_sendit_bliskapaczka_posCodeDescription]" type="hidden" id="s_method_sendit_bliskapaczka_sendit_bliskapaczka_posCodeDescription" value="INPOST</br>Parking strzeżony</br>Nowodworska 17B</br>54-433 Wrocław">
    <div id="bpWidget_aboutPoint_sendit_bliskapaczka_sendit_bliskapaczka" style="width: 100%; display: none;">
        <p>Wybrany punkt: <span id="bpWidget_aboutPoint_posData_sendit_bliskapaczka_sendit_bliskapaczka"></span></p>
    </div>
    <div id="bpWidget_sendit_bliskapaczka_sendit_bliskapaczka"></div>
</div>
