<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sendit_Bliskapaczka::orders"
             title="Sendit orders"
             module="Sendit_Bliskapaczka"
             sortOrder="3"
             action="senditbliskapaczka/orders"
             parent="Magento_Sales::sales_operation"
             resource="Magento_Backend::content"
        />
    </menu>
</config>